<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebPush</title>
  <link rel="stylesheet" href="style.css">

  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
  <div class="container">

    <a class="gradient-background w-screen">

      <nav class="flex items-center justify-between pt-12 p-9">

        <div>
          <img id="logo" src="images/logopngnohd.png" alt="LOGO"
            style="height: 150px; width: 150px; margin-left: 35px; transition: transform .2s ; ">
        </div>

        <div>
          <i id="hamburger-menu"
            class="fa-solid fa-bars text-3xl text-white p-12 hover:cursor-pointer hover:text-purple-600"></i>
        </div>

      </nav>

      <div id="overlay" class="my-10 flex justify-center bg-black bg-transparent hidden">
        <nav class="my-10">
          <ul class="flex justify-center items-center flex-col">
            <li
              class="text-white text-2xl mb-6 md:text-3xl font-bold hover:font-medium hover:cursor-pointer hover:text-pink-500 transition-[800ms]">
            </li>
            <li
              class="text-white text-2xl mb-6 md:text-3xl font-bold hover:font-medium hover:cursor-pointer hover:text-pink-500 transition-[800ms]">
              Blog</li>
            <li
              class="text-white text-2xl mb-6 md:text-3xl font-bold hover:font-medium hover:cursor-pointer hover:text-pink-500 transition-[800ms]">
              O
              Nama</li>
            <li
              class="text-white text-2xl mb-6 md:text-3xl font-bold hover:font-medium hover:cursor-pointer hover:text-pink-500 transition-[800ms]">
              Kontaktirajte Nas</li>
          </ul>
        </nav>
      </div>

      <div class="main-part">

        <h1 class=" maintext text-xl md:text-3xl">"Na internetu se sve može pronaći – <br> osigurajte da vas pronađu u
          najboljem svjetlu."
        </h1>
        <br>
        <div class="line-hero"></div>
        <h3 class="secondtext">U WebPush-u kreiramo profesionalne, prilagođene web stranice te nudimo web dizajn,
          brendiranje i digitalna rješenja kako bismo vašem poslovanju pomogli da se istakne.</h3>
        <button class="btn">Kontaktiraj nas</button>
      </div>
  </div>
  </div>
  <script src="main.js"></script>
</body>

</html>
